<nav id="page-nav" role="navigation">
    <div id="nav-left">
      <img src="../images/iota-logo.svg" alt="Site Logo" id="site-logo" />
    </div>   
    <div id="nav-center">
      Welcome to Express Billing!
    </div>
    <div id="nav-right">
      <a class="nav-link" href="/auth/login">Login</a>
      <a class="nav-link" href="/auth/register">Register</a>
    </div>
  </nav>
  
