<nav id="page-nav" role="navigation">
    <div id="nav-left">
      <img src="../images/iota-logo.svg" alt="Site Logo" id="site-logo" />
    </div>
    <div id="nav-center">
        <a class="nav-link" href="/" id="home-link">Home</a>
        <a class="nav-link" href="/clients" id="clients-link">Clients</a>
        <a class="nav-link" href="/products" id="products-link">Products</a>
        <a class="nav-link" href="/invoices" id="invoices-link">Invoices</a>
      </div>      
    <div id="nav-right">
      <a class="nav-link" href="/auth/login">Login</a>
      <a class="nav-link" href="/auth/register">Register</a>
    </div>
  </nav>
  
