<nav id="page-nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/clients">Clients</a>
    <a class="nav-link" href="/products">Products</a>
    <a class="nav-link" href="/invoices">Invoices</a>
  </nav>