<nav id="page-nav" role="navigation">
    <div id="nav-left">
      <img src="../images/iota-logo.svg" alt="Site Logo" id="site-logo" />
    </div>   
    <div id="nav-center">
      <a class="nav-link" href="/auth/user">Home</a>
      <a class="nav-link" href="/user/dashboard">Dashboard</a>
    </div>
    <div id="nav-right">
      <a class="nav-link" href="/auth/logout">Logout</a>
    </div>
  </nav>
  
