<p id="home-text"></p>
<div id="registerBtn-container"></div>
<script>
    // embed isAuthenticated variable
  const isAuthenticated = <%= authInfo.authenticated %>;
</script>
<script src="/scripts/indexScript.js" defer></script>
