html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-image: url("../images/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#page-nav {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#site-logo {
  height: 1.6rem;
}

#site-logo path {
  fill: black;
}

#nav-left,
#nav-center,
#nav-right {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Viga", sans-serif;
  color: white;
  font-size: large;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
}

#nav-left {
  margin-left: 1rem;
}

#nav-center {
}

#nav-right {
  margin-right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#home-text {
  font-family: "Bungee", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  margin: 10rem;
  text-align: center;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
  font-weight: bold;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#register-btn {
  animation: floating 3s infinite;
  animation-play-state: running;
}

#register-btn {
  border: none;
  border-radius: 10px;
  background-color: #ff9966;
  color: #fff;
  padding: 10px 20px;
  font-family: "Viga", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}

#register-title {
  text-align: center;
}

#register-btn:hover {
  background-color: #ff854d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation-play-state: paused;
}

#site-footer {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: small;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

#registration-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.double-inputGroup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.single-inputGroup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.form-group-register {
  margin-bottom: 20px;
  width: 50%;
}

label {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  align-self: initial;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-container {
  margin-top: 5px;
  color: red;
  text-align: center;
}

#login-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-page-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}
.user-details {
  display: flex;
  flex-direction: row;
}

#password-reset-link {
  text-align: center;
}

#reset-password-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-container {
  margin-top: 5px;
  color: #198754;
  text-align: center;
}

.password-guidelines{
  text-align: center;
  font-size: xx-small;
  font-style: italic;
}

#dashboard-prompt{
  text-align: center;
  font-size: xx-small;
  font-style: italic;
  color: red;
}

#userlist-container {
  width: 1200px;
  font-family: "Viga", sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-user-link {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; 
}

.add-user-link:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
}

#search-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr.even {
  background-color: #f2f2f2;
}

tr.odd {
  background-color: #ffffff;
}

.edit-link, .delete-link,.view-link {
  padding: 5px 10px;
  margin-right: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; 
}

.edit-link, .view-link{
  background-color: #28a745;
}

.delete-link{
  background-color: #dc3545;
}

.edit-link:hover, .view-link:hover {
  background-color: #1e7e34;
}

.delete-link:hover{
  background-color: #c82333;
}

.user-container {
  width: 700px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-user-button,.add-user-button {
  background-color: #007bff; 
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.edit-user-button:hover,.add-user-button:hover {
  background-color: #0056b3; 
}

