html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-image: url("../images/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-nav {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#site-logo {
  height: 1.6rem;
}

#site-logo path {
  fill: black;
}

#nav-left,
#nav-center,
#nav-right {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Viga", sans-serif;
  color: white;
  font-size: large;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
}

#nav-left {
  margin-left: 1rem;
}

#nav-center {
}

#nav-right {
  margin-right: 1rem;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Viga", sans-serif;
  color: white;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

#home-text {
  font-family: "Bungee", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  margin: 10rem;
  text-align: center;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
  font-weight: bold;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

#register-btn {
  animation: floating 3s infinite;
  animation-play-state: running;
}

#register-btn {
  border: none;
  border-radius: 10px;
  background-color: #ff9966;
  color: #fff;
  padding: 10px 20px;
  font-family: "Viga", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}

#register-title {
  text-align: center;
}

#register-btn:hover {
  background-color: #ff854d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation-play-state: paused;
}

#site-footer {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: small;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-top: 10px;
}

#registration-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.double-inputGroup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.single-inputGroup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.form-group-register {
  margin-bottom: 20px;
  width: 50%;
}

label {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  align-self: initial;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-container {
  margin-top: 5px;
  color: red;
  text-align: center;
}

#login-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-page-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

.client-details {
  display: flex;
  flex-direction: row;
}

.user-details {
  display: flex;
  flex-direction: row;
}

#client-edit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#user-edit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#password-reset-link {
  text-align: center;
}

#reset-password-container {
  max-width: 600px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-container {
  margin-top: 5px;
  color: #198754;
  text-align: center;
}

.password-guidelines {
  text-align: center;
  font-size: xx-small;
  font-style: italic;
}

#dashboard-prompt {
  text-align: center;
  font-size: small;
  font-style: italic;
  color: red;
}

#clientlist-container {
  width: 1200px;
  font-family: "Viga", sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userlist-container {
  width: 1200px;
  font-family: "Viga", sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-link {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ce;
}

.add-link:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr.even {
  background-color: #f2f2f2;
}

tr.odd {
  background-color: #ffffff;
}

.edit-link,
.delete-link,
.view-link {
  padding: 5px 10px;
  margin-right: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.edit-link,
.view-link {
  background-color: #28a745;
}

.delete-link {
  background-color: #dc3545;
}

.edit-link:hover,
.view-link:hover {
  background-color: #1e7e34;
}

.delete-link:hover {
  background-color: #c82333;
}

.client-container {
  width: 700px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container {
  width: 700px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-user-button,
.add-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.edit-user-button:hover,
.add-button:hover {
  background-color: #0056b3;
}

#productlist-container {
  width: 1200px;
  font-family: "Viga", sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container {
  width: 700px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#invoicelist-container {
  width: 1200px;
  font-family: "Viga", sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invoice-container {
  width: 900px;
  font-family: "Viga", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
}

#invoice-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-new-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #28a745;
  color: white;
  text-align: center;
  line-height: 1.5rem;
  vertical-align: middle;
  align-self: center;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

#add-new-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#add-new-item:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
}

#line-items-heading {
  margin-top: 2rem;
}

#line-items-list {
  margin-top: 2rem;
}

.remove-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #dc3545;
  color: white;
  text-align: center;
  line-height: 1.5rem;
  vertical-align: middle;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.remove-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.remove-btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
}

.line-items-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 23.8rem;
}

#invoice-submit {
  margin-top: 1rem;
}

#cost-label {
  margin: 0;
  font-weight: bold;
}

#invoice-details-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#invoice-client {
  width: 10rem;
}

#add-lineItems {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

#product-qty {
  width: 4rem;
}

#product-cost {
  margin-top: 7px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

/* styling for viewing individual invoice details */
/* styling for the header section */

#invoice-details-page {
  height: 120%;
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#invoice-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 600px;
  height: 800px;
  margin-left: 10px;
  margin-right: 10px;
}

#invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  white-space: nowrap;
}

#invoice-logo {
  height: 2.5rem;
}

.company-info {
  flex: 1;
  text-align: left;
  line-height: 0.5rem;
  margin-left: 0.5rem;
}

.logo-and-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap:5px;
}

#invoice-number {
  display: inline;
  margin: 0;
  text-align: right;
  align-self: flex-start;
}

h7 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  white-space: nowrap;
  margin-top: 20px;
  font-size: 30px;
}

.bill-to {
  margin-right: 5px;
}

/* overall styling for the summary, billable-details, and payment-details section */
.summary,
.billable-details,
.payment-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  white-space: nowrap;
}

/* styling for invoice details */
.invoice-.invoice-details-pay,
.invoice-details-pay,
.invoice-details-due-date,
h5 {
  text-align: center;
}

/* styling for the billable-details section */
.table th.qty,
.table th.rate,
.table th.amount {
  text-align: right;
}

.table td.qty,
.table td.rate,
.table td.amount {
  text-align: right;
}

.table th.item {
  text-align: left;
}

.payment-summary-2 {
  text-align: right;
}

#profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#self-edit-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 8rem;
  margin-bottom: 10px;
}

.self-edit-input {
  height: 1.6rem;
  width: 50%;
}

#self-edit-btn:hover {
  background-color: #0056b3;
}

#not-found-section {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#not-found-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.status-yes {
  color: green !important;
}

.status-no {
  color: red !important;
}

/* Hiding the navbar and return to invoices button when printing */
@media print {
  .hide-for-print {
    display: none;
  }

  #invoice-details-page {
    box-shadow: none;
  }
}
