<div id="reset-password-container">
    <h2 id="reset-password-title">Reset Password</h2>
    <p class = "password-guidelines">Make sure your new password includes at least 8 characters, a mix of uppercase and lowercase letters, and at least one number or special character for added security.</p>
    <form action="password-reset" method="POST">
        <div class="form-group">
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password" name="currentPassword" required />
        </div>
        <div class="form-group">
            <label for="new-password-reset">New Password</label>
            <input type="password" id="new-password-reset" name="newPasswordReset" required />
        </div>
        <div class="form-group">
            <label for="confirm-password-reset">Confirm Password</label>
            <input type="password" id="confirm-password-reset" name="confirmPasswordReset" required />
        </div>
        <div class="single-inputGroup">
            <input type="submit" value="Reset Password" id="reset-password-btn" />
        </div>
    </form>
    <% if (errorMsg) { %>
    <div class="error-container"><%- errorMsg %></div>
    <% } %>
</div>
