<div id="user-profile">
    <h2>Your Profile</h2>
    <table>
      <tr>
        <td>Username:</td>
        <td><%= user.username %></td>
        <td><a href="/" id="">Edit</a></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= user.email %></td>
        <td><a href="/">Edit</a></td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td><%= user.firstName %></td>
        <td><a href="/">Edit</a></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><%= user.lastName %></td>
        <td><a href="/">Edit</a></td>
      </tr>
    </table>
  </div>
  <script src="/scripts/userEditScript.js" defer></script>
